body{
    display: flex;
    flex-direction: column;
    background-color: rgb(130, 153, 131);
}
.submity{
  width: 125px;
  height: 41px;
  background-color:rgb(202, 219, 255);
}

h1{
  position: relative;
  left: 15px;
}
#baner{
    display: flex;
    font-size: 200%;
    flex-direction: row;
    padding-left: 2%;
    border: 3px solid black;
    height: 10vw;
}
#zdj{
  position: relative;
  justify-content: end;
}
#srodek{
    display: flex;
    border: 3px solid black;
    border-bottom: 0;
    border-top: 0;
    height: 35vw;
}
#stopka{
    display: flex;
    border: 3px solid black;
    height: 10vw;
    align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
    #baner {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100%;
    }
    #srodek {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
      }
    #stopka {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
      }
      
  }

  #lewo,#prawo{
    flex: 1;
    border: 1px solid black;
  }

th,td{
    border: 1px black solid;
    border-collapse: collapse;
    background-color: rgb(108, 124, 109);
  }

table{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.DODAJ{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#przeslij{
  height: 30px;
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}