body{
    display: flex;
    flex-direction: column;
}

#baner{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    height: 10vw;
}
#srodek{
    border: 1px solid blue;
    height: 35vw;
}
#stopka{
    border: 1px solid green;
    height: 10vw;
}
.k{
    border: 3px solid black;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    #baner {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100%;
    }
    #srodek {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
      }
    #stopka {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
      }
      
  }